{% extends 'base.html' %}

{% block content %}
    <table class="table caption-top" style="width:100%" id="uavTable">
        <caption>
            <h3>Available UAVs</h3>
        </caption>
        <style>
            table, td {
              border: 1px solid black;
            }
        </style>

        <thead >
        <tr class="table-primary text-center">
            <th>Brand</th>
            <th>Model</th>
            <th>Category</th>
            <th>Weight</th>
            <th>Rent</th>
        </tr>
        </thead>
        <tbody>
        {% for uav in active_uavs %}
            <tr class="table-light text-center">
                <td>{{ uav.brand }}</td>
                <td>{{ uav.model }}</td>
                <td>{{ uav.category }}</td>
                <td>{{ uav.weight }} kg</td>
                <td class="table-secondary">
                    <a class="btn btn-info" href="{% url 'rent_uav' uav.id %}">Rent</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
    $(document).ready(function() {
        $('#uavTable').DataTable({
                "language": {
                  "search": "Search for word:"
                }
            });
    })
    </script>
{% endblock %}
